*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background-image: url(./images/Ai\ oshino.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
    overflow: hidden;
}
.card{
    background:linear-gradient(350deg,rgb(204, 61, 204),rgb(60, 60, 211));
    margin:80px auto 0;
    width:90%;
    max-width:470px;
    padding:45px 35px;
    border-radius: 20px;
    text-align: center;
    color:#fff;
}
.card h1{
    font-size: 16px;
    text-align: center;
    color: #cbbce7;
    margin-bottom: 10px;
}
.search{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.search .input{
   outline:none;
   padding:18px;
   font-size: 17px;
   color:#302b2b;
   background: #cbbce7;
   width:80%;
   border:none;
   border-radius: 20px;
}
.search .btn{
    outline:none;
    border:none;
    border-radius: 50%;
    background:#cbbce7;
    height:47px;
    width:47px;

}
.search img{
    width:27px;
    
}
.weather-icon{
    width:170px;
   margin-top: 30px;
}
.weather .temp{
  font-size: 40px;
  color:#fff;
  margin-top:10px;
font-weight: 500;
}
.weather .city{
    color:#ffff;
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:35px;
}
.col{
  display:flex;
  align-items: center;
  text-align: left;
}
.col img{
    width:40px;
    margin-right: 10px;
}
.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display:none;
}
.error{
    text-align: left;
    margin-top: 10px;
    font-weight: 300;
    font-size: 18px;
    display:none;
}